@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body, [class*="css"]  {
    font-family: 'Inter', sans-serif;
    background-color: #F2EEE3;
    color: #000000;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: -0.5px;
}

.stButton>button {
    background-color: #7DFF00;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 6px;
}

.stSlider > div > div {
    color: #000000;
}

.stDataFrame {
    background-color: #ffffff;
    color: #000000;
}

.stMetric {
    font-size: 18px;
}